{% extends 'base.html' %}

{% block content %} 
<div class="socialWrapper">
    <h1>
      <span class="hide default">get social</span>
      <span class="hide head1">facebook</span>
      <span class="hide head2">twitter</span>
      <span class="hide head3">google+</span>
      <span class="hide head4">github</span>
      <span class="hide head5">linkedin</span>
    </h1>
    <ul class="elements">
      <li><a href="https://facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a></li>
      <li><a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x"></i></a></li>
      <li><a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
      <li><a href="https://github.com/"><i class="fa fa-github-square fa-3x"></i></a></li>
      <li><a href="https://linkedin.com/"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
    </ul>
  </div>         
{% endblock %} 